<h1>Create a new app</h1>

<%= form_for(@app) do |f| %>

    <div class="field">
      <%= f.label 'Name'%> <br/>
      <%= f.text_field :app_name%>

      <%= f.label 'App Store Id'%> <br/>
      <%= f.text_field :app_store_id%>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>

<div class="actions">
  <%= f.submit "Save"%>
</div>

<% end %>