
<table class="" summary="App info">
  <p>If you are interested in using the Social Scores API in your app, please <%= link_to 'cotact me', contact_path %> first. Things are mostly ready to go, but this is still very new, soso I'd appreciate you dropping me a line.</p>


   <tr>
		<td class="main">
            <h2><%= @app.app_name %></h2>
         </td>
            <% user = @app.user rescue User.find(@app.user_id)%>
          	 <% if user == current_user%>
          		<td class="delete">
          			<%= button_to "delete", @app, :method => :delete,
          											 :confirm => "Are you sure?",
          											 :title => @app.app_name %>
          		</td>
         	  <% end %>
    </tr>
  </table>
    <table class="well">
            <tr>
            <td><b>App Id: </b> <%= @app.app_id %></td>
            </tr>

     <tr>
            <td><b>Secret Key: </b> <%= @app.app_secret %></td>
     </tr>

    <tr><td> <%= link_to  'View All Users', '/apps/show_users?app_id=' + @app.id.to_s  %></td></tr>

      <tr> <td><b>Level: </b></td>
      <td><b>Users: </b>   </td>
      <td><b>High Score: </b> </td>
    </tr>

        <% @levels.each do |l|%>
         <tr>
         <td> <%= link_to  l.level_id, '/apps/show_level?level_id=' + l.level_id + '&app_id=' + @app.id.to_s %></td>
         <td> <%= l.score_fb_id %> </td>
         <td> <%= l.score %></td>
         </tr>
              <%  end %>
         

</table>
