      <header>
	  <%= link_to iparty, root_path %>
	  	<nav class="round">
	    	<ul>
				<li><%= link_to "Home", root_path %></li>  

              <li><%= link_to "Get Started", get_started_path%></li>
				<% if signed_in?  %>
                  <li><%= link_to "Docs", "/docs" %></li>
					<li><%= link_to "Profile", user_path(current_user) %></li> 
                  
                  <% if current_user.admin? %>
					<li><%= link_to "Users", users_path %></li> 
                  <% end %>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>  
				<%end%>

              <% if signed_in? and current_user.admin %>
                     <li><%= link_to "Admin", "#"%></li>
               <% end %>
				
				

				<% if signed_in?  %>
				<li><%= link_to "Sign out", signout_path %></li>  
				<% else%>
				<li><%= link_to "Sign in", signin_path %>
				<%= link_to facebook_logo, "#", {:onclick => "Fb_Login();"} %>  </li>
                  <%=  render "shared/fb" %>
				<% end%>
			</ul>
		</nav>
	</header>